
/*-----------------------------------------*/
/* BASE                                             */
/*-----------------------------------------*/
*{
  box-sizing: border-box;
  
}

.content-wrapper {
  padding:120px 170px 0px;
}

h1,h2,.header-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  
}
.kv-sub2,input,.topics-date,small{
  font-family: 'Montserrat', sans-serif;
}
.vision-sub,.ceo-text{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  
}
h2 {
  font-size: 2rem;
  text-transform:uppercase ;
  margin-bottom: 30px;
}
p{
  line-height: 2rem;
  font-size: 1rem;
}
a{
  text-decoration: none;
  color: #000000;
}
#container-btn {
  background-color:#000000 ;
  text-align: center;
  padding: 10px 45px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 30px;

}
a:hover,#container-btn:hover {
  cursor: pointer;
  opacity: .7;
  transition:all .3s;
}



/*-----------------------------------------*/
/* header                                          */
/*-----------------------------------------*/


.header-logo {
  position: fixed;
  left: 4vw;
  top: 5vh;
  z-index: 4;
}

.header-logo.black svg path{
  fill: #333;
  transition: fill .3s;
}



.header-title {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 0.625rem;
  z-index: 4;
}
.header-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 4vw;
  top:5vh;
  z-index: 4;
}
.header-menu:hover {
  cursor: pointer;
  opacity: .7;
  transition: all .3s;
}
/*-----------------------------------------*/
/*close時                                           */
/*-----------------------------------------*/
body.noscroll{
  overflow: hidden;
}

.close-wrapper{
  font-weight: bold;
  font-size: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 36.1vw;
  text-align: center;
  padding: 120px 0 0;
  background-color:rgba(34,34,34,.95);
  z-index: 2;
  transform: translateX(100%);
  opacity: 0;
  transition: transform .3s,opacity .3s;
}

.close-wrapper.open{
  transform: translateX(0);
  opacity: 1;
  transition: transform .3s,opacity .3s;
}

.close-list li a img {
  margin-bottom: 40px;
}
.close-list li{
  list-style: none;
  margin-bottom: 30px;
}
.close-list li:last-of-type{
  margin-bottom:0;
}
.close-list a {
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color:#FFFFFF;
  text-decoration: none;
}

.burger-msk{
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgba(0,0,0,.5);
  z-index: 2;
}

/*-----------------------------------------*/
/* ハンバーガーメニュー                      */
/*-----------------------------------------*/
.hum-wrapper {
  display: block;
  width: 22px;
  height: 15px;
  margin-right: 7px;
  position: relative;
  z-index: 4;
}
.bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #FFFFFF;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.bar-top{
  top: 25%;
  
}
.bar-mid{
top: 50%;

}
.bar-bottom{

  top: 75%;
}
/*-----------------------------------------*/
/* ×ボタン                                         */
/*-----------------------------------------*/
.hum-wrapper.close .bar-top{
  transition: .3s;
  transform: translate(-47%,4px) rotate(30deg);
  
}
.hum-wrapper.close .bar-mid{
  opacity: 0;
  transition: .3s;
}
.hum-wrapper.close .bar-bottom{
  transition: .3s;
  transform: translate(-47%,-4px) rotate(-30deg);

}

.header-menu.black .bar{
  background-color: #333;
  transition: background-color .3s;
}
.header-menu.black .header-title{
  color: #333;
  transition: color .3s;
}





/*-----------------------------------------*/
/* fv                                                 */
/*-----------------------------------------*/
.kv-wrapper {
  position: relative;
  background:linear-gradient(90deg, #FFFFFF  0%, #FFFFFF  46%, #222222 46%, #222222 100%) ;
  height:464px;
  width:100%; 
  z-index: 1;
}
.kv-img {
  width:76.3%;
  height: 387px;
  background-image: url(../img/heading-img-pc.jpg);
  background-position: center;
  background-size: cover;
  z-index: 2;
  display: block;
}

.kv-text-container {
  position: absolute;
  top: 30%;
  right: 17%;
  transform: translate(17%,-30%);
  color: #FFFFFF;
}
.kv-text-container p {
  font-size: 1.25rem;
  line-height: 1.2rem;
}
h1 {
  margin-top: 10px;
  font-size: 4.5rem;
  text-transform: uppercase;
  line-height: 5.3rem;
}


/*-----------------------------------------*/
/* Vision                                            */
/*-----------------------------------------*/

.vision-main{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 27px;
}
.vision-sub{
  margin-bottom: 35px;
}
.vision-sub:last-of-type{
  margin-bottom: 0px;
}




/*-----------------------------------------*/
/* CEO message                                 */
/*-----------------------------------------*/
.ceo-wrapper {
  position: relative;
  padding-top: 120px;
}
.ceo-img-container {
  max-width: 320px;
  position: absolute;
  top: 0%;
  left: 0%;
}
.ceo-img-container img{
  width: 100%;
}
.ceo-text-container {
  background-color: #F0F0F0;
  padding: 120px 185px 90px;
  max-width: 770px;
  margin-left: auto;
}
.ceo-text {
  margin-bottom:35px;
}
.ceo-text:last-of-type {
  margin-bottom:0px;
}





/*-----------------------------------------*/
/* company                                       */
/*-----------------------------------------*/
.company-container {
  padding-bottom: 120px;
}
.company-list-box {
  margin-bottom: 40px;
  width: 800px;
  margin-left: auto;
}

.company-list {
  border-top: 1px solid #DDDDDD;
  display: flex;
  padding: 18px 0;

}
.company-list li{
  list-style: none;
}
.company-list li:first-of-type{
  font-weight: bold;
}
.company-list-1,.company-list-3{
  margin-left: 112px;
}
.company-list-2{
  margin-left: 64px;
}
.company-list-4,.company-list-5{
  margin-left:96px;
}
.company-list-6{
  margin-left: 80px;
}
.google-map {
  width: 100%;
}
iframe{
  width: 100%;
}






/*-----------------------------------------*/
/* Footer                                           */
/*-----------------------------------------*/
.footer{
  background-color: #525252;
  padding: 18px 0 18px;
}
small{
  font-size: 0.625rem;
  color: #FFFFFF;
  display: block;
  width: 150px;
  margin: 0 auto;
  text-align: center;
}



/*-----------------------------------------*/
/* タブレット表示                               */
/*-----------------------------------------*/

@media(max-width:1024px){

  /*-----------------------------------------*/
/* BASE-tb                                          */
/*-----------------------------------------*/
.content-wrapper{
  padding:80px 30px 0px;
}



/*-----------------------------------------*/
/* fv-tb                                             */
/*-----------------------------------------*/
h1{
  font-size: 3.25rem;
}
.kv-sub{
  font-size: 1rem;
}


/*-----------------------------------------*/
/* Vision -tb                                       */
/*-----------------------------------------*/
.vision-wrapper {
  padding: 80px 150px 0px;
}


/*-----------------------------------------*/
/* Ceo message  -tb                            */
/*-----------------------------------------*/
.ceo-wrapper{
  padding-top: 120px;
  width: 100%;
}
.ceo-text-container{
  width: 100%;
  padding: 110px 40px 80px;

}
.ceo-text{
  font-size: 1rem;
}


/*-----------------------------------------*/
/* Company-tb                                  */
/*-----------------------------------------*/
.company-list-box{
  width: 100%;
}


}




/*-----------------------------------------*/
/* スマホ表示                                     */
/*-----------------------------------------*/

@media(max-width:768px){
  
/*-----------------------------------------*/
/* CEO message-sp                             */
/*-----------------------------------------*/

  .content-wrapper{
    padding:80px 20px 0px ;
  }

  .ceo-text-container{
    width: 100%;
  }
  
}


